{% extends 'base.html' %}

{% block title %}Agregar Reservación de Horas{% endblock %}

{% block content %}
    <a href="{% url 'listar_reservaciones' %}" class="btn btn-secondary mb-3" style="margin-left: 20px">
        &#8592; Volver
    </a>
    <div class="container mt-5">
        <h1 class="text-center" style="margin-top: -30px">Agregar una Reservación de Horas</h1>

        <!-- Mostrar mensajes de error generales -->

        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}

            <div class="form-group">
                {{ form.empleado.label_tag }}
                {{ form.empleado }}
                {% if form.empleado.errors %}
                    <div class="text-danger">{{ form.empleado.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.aula.label_tag }}
                {{ form.aula }}
                {% if form.aula.errors %}
                    <div class="text-danger">{{ form.aula.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.usuario }}
                {% if form.usuario.errors %}
                    <div class="text-danger">{{ form.usuario.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.fecha_reservacion.id_for_label }}">Fecha de Reservación:</label>
                <input type="date" name="fecha_reservacion" class="form-control" value="{{ form.fecha_reservacion.value|date:'Y-m-d' }}">
                {% if form.fecha_reservacion.errors %}
                    <div class="text-danger">{{ form.fecha_reservacion.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.cantidad_horas.label_tag }}
                {{ form.cantidad_horas }}
                {% if form.cantidad_horas.errors %}
                    <div class="text-danger">{{ form.cantidad_horas.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.comentario.label_tag }}
                {{ form.comentario }}
                {% if form.comentario.errors %}
                    <div class="text-danger">{{ form.comentario.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.estado.label_tag }}
                {{ form.estado }}
                {% if form.estado.errors %}
                    <div class="text-danger">{{ form.estado.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
{% endblock %}
