{% extends 'base.html' %}

{% block title %}Agregar Tipo de Aula{% endblock %}

{% block content %}
    <a href="{% url 'listar_tipo_aula' %}" class="btn btn-secondary mb-3" style="margin-left: 20px">
            &#8592; Volver
        </a>
    <div class="container mt-5">
        <h1 class="text-center" style="margin-top: -30px">Agregar un Tipo de Aula</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
{% endblock %}
