{% extends 'base.html' %}

{% block title %}Listado de Tipo de Aulas{% endblock %}

{% block content %}
<a href="{% url 'home' %}" class="btn btn-secondary mb-3" style="margin-left: 20px">
    &#8592; Volver al menú
</a>
<div class="container mt-5">
    <h1 class="text-center" style="margin-top: -30px">Listado de Tipos de Aula</h1>

    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'agregar_tipo_aula' %}" class="btn btn-primary">Agregar un Tipo de Aula</a>
        <form method="GET" class="flex-grow-1 ml-2" style="max-width: 300px; margin-top: 10px">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar por descripción" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" style="margin-top: -0.5px">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_aula in page_obj %}
            <tr>
                <td>{{ tipo_aula.descripcion }}</td>
                <td>{{ tipo_aula.estado.descripcion }}</td>
                <td>
                    <a href="{% url 'editar_tipo_aula' tipo_aula.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_tipo_aula' tipo_aula.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

     <div class="d-flex justify-content-between align-items-center">
        <p>Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} Tipos de Aula</p>

        <nav aria-label="Paginación">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page=1" aria-label="Primero">&laquo;&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}" aria-label="Anterior">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;&laquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}" aria-label="Siguiente">&raquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}" aria-label="Último">&raquo;&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</div>
{% endblock %}
